<a href="https://colab.research.google.com/github/Decko048/CIMSpark/blob/master/EmployeePrediction1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install category_encoders
#!pip install scandir

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

from sklearn import preprocessing 
from category_encoders import *
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import datasets, linear_model, metrics
from sklearn.metrics import  confusion_matrix
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Use the built-in version of scandir/walk if possible, otherwise
# use the scandir module version
try:
    from os import scandir, walk
except ImportError:
    from scandir import scandir, walk

def subdirs(path):
    for entry in os.scandir(path):
        if not entry.name.startswith('.') and entry.is_dir():
            yield entry.name

In [ ]:
import requests
import os

# URL on the Github where the csv files are stored
github_url = 'https://decko048.github.io/dataset/'

result = requests.get(github_url)
filename = [ ]
print(filename)

In [ ]:
df = pd.read_csv("https://decko048.github.io/dataset/data_produk.csv")
df

In [ ]:
# Exploratory Data Analysis (EDA) using User Defined Function

def libraries():
    global pd,np
    import pandas as pd
    import numpy as np
def load():
    global df
    df = pd.read_csv("https://decko048.github.io/dataset/data_produk.csv")
    
def top_rows(value):
    print('\033[1m'+ 'displaying the', value, 'rows from top'+'\033[0m')
    a=df.head(value)
    print(a,'\n')
    
def bottom_rows(value):
    print('\033[1m'+'displaying the', value, 'rows from bottom'+'\033[0m')
    b=df.tail(value)
    print(b,'\n')
    
def rows_columns():
    print('\033[1m'+'Shape of the Data set'+'\033[0m')
    c=df.shape
    print(c,'\n')
    
def col_names():
    print('\033[1m'+'Column Names in the Data set'+'\033[0m')
    d=df.columns
    print(d,'\n')
    
def information():
    print('\033[1m'+'Quick Overview of DataSet(info)'+'\033[0m')
    e = df.info()
    print(e,'\n')

def sizee():
    print('\033[1m'+'No.of Elements in the DataSet'+'\033[0m')
    f = df.size
    print(f,'\n')

def ndimension():
    print('\033[1m'+'Dimensions in your dataframe'+'\033[0m')
    g = df.ndim
    print(g,'\n')
    
def stats_summary():
    print('\033[1m'+'Staistical Summary of DataSet'+'\033[0m')
    h = df.describe()
    print(h,'\n')
    
def null_values():
    print('\033[1m'+'Number of Missing values in each column'+'\033[0m')
    i = df.isnull().sum()
    print(i,'\n')
    
def n_unique():
    print('\033[1m'+'Number of unique elements'+'\033[0m')
    j = df.nunique()
    print(j,'\n')
    
def memory_use():
    print('\033[1m'+'Memory used by all colomns in bytes'+'\033[0m')
    k = df.memory_usage()
    print(k,'\n')
    
def is_na(value):
    print('\033[1m'+'Dataframe filled with boolean values with true indicating missing values'+'\033[0m')
    l = df.isna().head(value)
    print(l,'\n')
    
def duplicate():
    print('\033[1m'+'Boolean Series denoting duplicate rows'+'\033[0m')
    m = df.duplicated().sum()
    print(m,'\n')
    
def valuecounts():
    print('\033[1m'+'Series containing count of unique values'+'\033[0m')
    n = df.value_counts()
    print(n,'\n')

def datatypes():
    print('\033[1m'+'Datatype of each column'+'\033[0m')
    o = df.dtypes
    print(o,'\n')
    
def correlation():
    print('\033[1m'+'Correalation between all columns in DataFrame'+'\033[0m')
    p = df.corr()
    print(p,'\n')
    
def nonnull_count():
    print('\033[1m'+'Count of non-null values'+'\033[0m')
    q = df.count()
    print(q,'\n')
    
def eda():
    load()
    value= 5 
    datatypes()
    top_rows(value)
    bottom_rows(value)
    rows_columns()
    col_names()
    information()
    sizee()
    ndimension()
    stats_summary()
    null_values()
    n_unique()
    memory_use()
    is_na(value)
    nonnull_count()
    duplicate()
    valuecounts()
    correlation()
    
    
    
        
def stats_u(data,col):
    if data[col].dtype == "float64":
        print(col,"has Quantitative data")
        mean_value=data[col].mean()
        print('mean of',col,'column',mean_value)
        max_value = data[col].max()
        print('Maximum value of',col,'column',max_value)
        min_value = data[col].min()
        print('Minimum value of',col,'column',min_value)
        median_value = data[col].median(skipna = True)
        print('median of',col,'column',median_value)
        std_value = data[col].std()
        print('standard deviation of',col,'column',std_value)
        q1 = data[col].quantile(0.25,interpolation='nearest')
        print('quartile 1 of',col,'column is',q1)
        q2 = data[col].quantile(0.5,interpolation='nearest')
        print('quartile 2 of',col,'column is',q2)
        q3 = data[col].quantile(0.75,interpolation='nearest')
        print('quartile 3 of',col,'column is',q3)
        q4 = data[col].quantile(1,interpolation='nearest')
        print('quartile 4 of',col,'column is',q4)
        IQR = q3 -q1
        LLP = q1 - 1.5*IQR
        ULP = q3 + 1.5*IQR
        print('Lower Limit Point:',LLP)
        print('Upper Limit Point:',ULP)
        if data[col].min() > LLP and data[col].max() < ULP:
            print("No outliers")
        else:
            print("There are outliers")
            print(data[data[col]<LLP][col])
            print(data[data[col]>ULP][col])
            
    elif data[col].dtype == "int64":
        print(col,"has Quantitative data")
        mean_value=data[col].mean()
        print('mean of',col,'column',mean_value)
        median_value = data[col].median(skipna = True)
        print('median of',col,'column',median_value)
        std_value = data[col].std()
        print('standard deviation of',col,'column',std_value)
        q1 = data[col].quantile(0.25,interpolation='nearest')
        print('quartile 1 of',col,'column is',q1)
        q2 = data[col].quantile(0.5,interpolation='nearest')
        print('quartile 2 of',col,'column is',q2)
        q3 = data[col].quantile(0.75,interpolation='nearest')
        print('quartile 3 of',col,'column is',q3)
        q4 = data[col].quantile(1,interpolation='nearest')
        print('quartile 4 of',col,'column is',q4)
        IQR = q3 -q1
        LLP = q1 - 1.5*IQR
        ULP = q3 + 1.5*IQR
        print('Lower Limit Point:',LLP)
        print('Upper Limit Point:',ULP)
        if data[col].min() > LLP and data[col].max() < ULP:
            print("No outliers")
        else:
            print("There are outliers")
            print("Outliers are:")
            print(data[data[col]<LLP][col])
            print(data[data[col]>ULP][col])
    else:
        print(col,'has Qualitative Data')
        z = df[col].mode()
        print('mode of',col,'column:\n',z)
        print('Count of mode is:\n',df[col].value_counts())
        print('Unique strings in',col,'are',data[col].nunique())
        if(data[col].nunique() == 1):
            print(col,'has same string')
        elif(data[col].nunique() == 2):
            print(col,'has binary strings')
        else:
            print(col,'has multi stings')


libraries()
eda()

print("----------------------------------------------------------------------------------------------------------------------")
print('\033[1m'+'Summary Of DataSet'+'\033[0m')
print('\033[1m'+'DataTypes in the DataSet:\n'+'\033[0m',df.dtypes)
print('\033[1m'+'Columns in DataSet:'+'\033[0m',df.columns)
print('\033[1m'+'Shape of DataSet:'+'\033[0m',df.shape)
print('\033[1m'+'Size of DataSet:'+'\033[0m',df.size)
print('\033[1m'+'Dimension of DataSet:'+'\033[0m',df.ndim)
print('\033[1m'+'Total Memory used in DataSet:'+'\033[0m',df.memory_usage().sum())
print('\033[1m'+'Total Number of missing values in DataSet:'+'\033[0m',df.isnull().sum().sum())
print('\033[1m'+'Total Number of Unique values in DataSet:'+'\033[0m',df.nunique().sum())
print('\033[1m'+'Total Number of non null values in DataSet:'+'\033[0m',df.count().sum())
print('\033[1m'+'Total Number of duplicate rows in DataSet:'+'\033[0m',df.duplicated().sum())
print("----------------------------------------------------------------------------------------------------------------------")
print('\033[1m'+'Summary Of Each Colomn'+'\033[0m')
print("\n")
cols=df.columns
cols
for i in cols:
    print('\033[1m'+i+'\033[0m')
    stats_u(df,i)
    print("\n")

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
df.skew()

In [ ]:
df.corr()

In [ ]:
#! pip install Autoviz
#! pip install xlrd

In [ ]:
from autoviz.AutoViz_Class import AutoViz_Class
AV = AutoViz_Class()
df_av = AV.AutoViz("https://decko048.github.io/dataset/data_produk.csv")

In [ ]:
df['JmlhWrna'].value_counts()

In [ ]:
sns.countplot(x = 'JmlhWrna',data = df)
plt.show()

In [ ]:
df['Jumlah'].value_counts()

In [ ]:
sns.countplot(x = 'Jumlah',data = df)
plt.show()

In [ ]:
df['NoJI'].value_counts()

In [ ]:
sns.countplot(x = 'NoJI',data = df)
plt.show()

In [ ]:
df['Mesin'].value_counts()

In [ ]:
sns.countplot(x = 'NoJI',data = df)
plt.show()

In [ ]:
sns.countplot(x = 'Mesin',data = df)
plt.show()

In [ ]:
sns.countplot(x = 'PaymentTier',data = df)
plt.show()

In [ ]:
df['Gender'].value_counts()

In [ ]:
sns.countplot(x = 'Gender',data = df)
plt.show()

In [ ]:
# Male Employees are more in number
df['EverBenched'].value_counts()

In [ ]:
sns.countplot(x = 'EverBenched',data = df)
plt.show()

In [ ]:
# Most of the Employees are not benchedÂ¶
df['ExperienceInCurrentDomain'].value_counts()

In [ ]:
sns.countplot(x = 'ExperienceInCurrentDomain',data = df)
plt.show()

In [ ]:
df['LeaveOrNot'].value_counts()

In [ ]:
sns.countplot(x = 'LeaveOrNot',data = df)
plt.show()

In [ ]:
# Most of the employess are not supposed to leave
# Getting unique values of each category
from IPython.core.display import HTML

def multi_table(table_list):
    ''' Acceps a list of IpyTable objects and returns a table which contains each IpyTable in a cell
    '''
    return HTML(
        '<table><tr style="background-color:white;">' + 
        ''.join(['<td>' + table._repr_html_() + '</td>' for table in table_list]) +
        '</tr></table>')

In [ ]:
df_nunique = {var: pd.DataFrame(df[var].value_counts()) 
              for var in {'Education', 'JoiningYear', 'City', 'PaymentTier', 'Gender',
       'EverBenched', 'ExperienceInCurrentDomain', 'LeaveOrNot'}}
multi_table([df_nunique['Education'], df_nunique['JoiningYear'],df_nunique['City']
            ,df_nunique['PaymentTier'],df_nunique['Gender'],df_nunique['EverBenched'],
             df_nunique['ExperienceInCurrentDomain'],df_nunique['LeaveOrNot']])

In [ ]:
# grouped tables for categorical variables
df_groupby = {var: pd.DataFrame(df.groupby([var, 'Age']).size()) 
              for var in {'Education', 'JoiningYear', 'City', 'PaymentTier', 'Gender',
       'EverBenched', 'ExperienceInCurrentDomain', 'LeaveOrNot'}}
multi_table([df_groupby['Education'], df_groupby['JoiningYear'],df_groupby['City']
            ,df_groupby['PaymentTier'],df_groupby['Gender'],df_groupby['EverBenched'],
             df_groupby['ExperienceInCurrentDomain'],df_groupby['LeaveOrNot']])

In [ ]:
plt.figure(figsize=(16,9))
ax = sns.heatmap(df.corr(),annot = True,cmap = 'viridis')
plt.show()

In [ ]:
''' Plot a Shifted Correlation Matrix '''
# Diagonal correlation is always unity & less relevant, shifted variant shows only relevant cases
def corrMat(df,id=False):
    
    corr_mat = df.corr().round(2)
    f, ax = plt.subplots(figsize=(12,7))
    mask = np.triu(np.ones_like(corr_mat, dtype=bool))
    mask = mask[1:,:-1]
    corr = corr_mat.iloc[1:,:-1].copy()
    sns.heatmap(corr,mask=mask,vmin=-0.3,vmax=0.3,center=0, 
                cmap='RdPu_r',square=False,lw=2,annot=True,cbar=False)
#     bottom, top = ax.get_ylim() 
#     ax.set_ylim(bottom + 0.5, top - 0.5) 
    ax.set_title('Shifted Linear Correlation Matrix')
    
corrMat(df.drop(['Education','City','EverBenched','Gender'],axis = 1))

In [ ]:
'''Plot Correlation to Target Variable only'''
def corrMat2(df,target='LeaveOrNot',figsize=(9,0.5),ret_id=False):
    
    corr_mat = df.corr().round(2);shape = corr_mat.shape[0]
    corr_mat = corr_mat.transpose()
    corr = corr_mat.loc[:, df.columns == target].transpose().copy()
    if(ret_id is False):
        f, ax = plt.subplots(figsize=figsize)
        sns.heatmap(corr,vmin=-0.3,vmax=0.3,center=0, 
                     cmap='RdPu_r',square=False,lw=2,annot=True,cbar=False)
        plt.title(f'Feature Correlation to {target}')
    if(ret_id):
        return corr
corrMat2(df.drop(['Education','City','EverBenched','Gender'],axis = 1))

In [ ]:
# pairlot of all numerical columns with LeaveOrNot as hue
''' Draw a Bivariate Seaborn Pairgrid /w KDE density w/ '''
def snsPairGrid(df):

    ''' Plots a Seaborn Pairgrid w/ KDE & scatter plot of df features'''
    g = sns.PairGrid(df,diag_sharey=False,hue='LeaveOrNot',palette='Purples')
    g.fig.set_size_inches(13,13)
    g.map_upper(sns.kdeplot,n_levels=5)
    g.map_diag(sns.kdeplot, lw=2)
    g.map_lower(sns.scatterplot,s=20,edgecolor="k",linewidth=1,alpha=0.6)
    g.add_legend()
    plt.tight_layout()
numvars_targ = ['JoiningYear','PaymentTier','Age','ExperienceInCurrentDomain','LeaveOrNot']
snsPairGrid(df[numvars_targ])

In [ ]:
''' Draw a Bivariate Seaborn Pairgrid /w KDE density w/ '''
def snsPairGrid(df):

    ''' Plots a Seaborn Pairgrid w/ KDE & scatter plot of df features'''
    g = sns.PairGrid(df,diag_sharey=False,hue='City',palette='Purples')
    g.fig.set_size_inches(13,13)
    g.map_upper(sns.kdeplot,n_levels=5)
    g.map_diag(sns.kdeplot, lw=2)
    g.map_lower(sns.scatterplot,s=20,edgecolor="k",linewidth=1,alpha=0.6)
    g.add_legend()
    plt.tight_layout()
numvars_targ = ['JoiningYear','PaymentTier','Age','ExperienceInCurrentDomain','LeaveOrNot','City']
snsPairGrid(df[numvars_targ])

In [ ]:
''' Draw a Bivariate Seaborn Pairgrid /w KDE density w/ '''
def snsPairGrid(df):

    ''' Plots a Seaborn Pairgrid w/ KDE & scatter plot of df features'''
    g = sns.PairGrid(df,diag_sharey=False,hue='Education',palette='Purples')
    g.fig.set_size_inches(13,13)
    g.map_upper(sns.kdeplot,n_levels=5)
    g.map_diag(sns.kdeplot, lw=2)
    g.map_lower(sns.scatterplot,s=20,edgecolor="k",linewidth=1,alpha=0.6)
    g.add_legend()
    plt.tight_layout()
numvars_targ = ['JoiningYear','PaymentTier','Age','ExperienceInCurrentDomain','LeaveOrNot','Education']
snsPairGrid(df[numvars_targ])

In [ ]:
''' Draw a Bivariate Seaborn Pairgrid /w KDE density w/ '''
def snsPairGrid(df):

    ''' Plots a Seaborn Pairgrid w/ KDE & scatter plot of df features'''
    g = sns.PairGrid(df,diag_sharey=False,hue='EverBenched',palette='Purples')
    g.fig.set_size_inches(13,13)
    g.map_upper(sns.kdeplot,n_levels=5)
    g.map_diag(sns.kdeplot, lw=2)
    g.map_lower(sns.scatterplot,s=20,edgecolor="k",linewidth=1,alpha=0.6)
    g.add_legend()
    plt.tight_layout()
numvars_targ = ['JoiningYear','PaymentTier','Age','EverBenched','ExperienceInCurrentDomain','LeaveOrNot']
snsPairGrid(df[numvars_targ])

In [ ]:
# Solving Queries with and without graphs
# Query 1: Find all the Employess details With education as Bachelors
df_B =df[df['Education'] == 'Bachelors']
df_B
# data frame contains all information of Employees who did Bachelors Degree

In [ ]:
# Visualisation Related to Query 1
df_B.corr()

In [ ]:
df_B.describe()

In [ ]:
df_nunique = {var: pd.DataFrame(df_B[var].value_counts()) 
              for var in {'Education', 'JoiningYear', 'City', 'PaymentTier', 'Gender',
       'EverBenched', 'ExperienceInCurrentDomain', 'LeaveOrNot'}}
multi_table([df_nunique['Education'], df_nunique['JoiningYear'],df_nunique['City']
            ,df_nunique['PaymentTier'],df_nunique['Gender'],df_nunique['EverBenched'],
             df_nunique['ExperienceInCurrentDomain'],df_nunique['LeaveOrNot']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "City",
             color="JoiningYear", title="<b>Analysis of City with JoiningYear</b>",
             #pattern_shape_sequence=['x'], 
             template='plotly_dark')

fig.show()

In [ ]:
# Query 2: Find Employee Details with Bachelors Degree from Banglore and in which year employees joined more
df_B_Bangalore = df_B[df_B['City'] == 'Bangalore']
df_B_Bangalore

In [ ]:
df_nunique = {var: pd.DataFrame(df_B_Bangalore[var].value_counts()) 
              for var in {'Education', 'JoiningYear', 'City'}}
multi_table([df_nunique['Education'], df_nunique['JoiningYear'],df_nunique['City']])

In [ ]:
# Query 3: Find Employee Details with Bachelors Degree from New Delhi and in which year employees joined more
df_B_NewDelhi = df_B[df_B['City'] == 'New Delhi']
df_B_NewDelhi

In [ ]:
df_nunique = {var: pd.DataFrame(df_B_NewDelhi[var].value_counts()) 
              for var in {'Education', 'JoiningYear', 'City'}}
multi_table([df_nunique['Education'], df_nunique['JoiningYear'],df_nunique['City']])

In [ ]:
# Query 4: Find Employee Details with Bachelors Degree from Pune and in which year employees joined more
df_B_Pune = df_B[df_B['City'] == 'Pune']
df_B_Pune

In [ ]:
df_nunique = {var: pd.DataFrame(df_B_Pune[var].value_counts()) 
              for var in {'Education', 'JoiningYear', 'City'}}
multi_table([df_nunique['Education'], df_nunique['JoiningYear'],df_nunique['City']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "City",
             color="PaymentTier", title="<b>Analysis of City with PaymentTier</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')

fig.show()

In [ ]:
# Query 5: Find Employee Details with Bachelors Degree from Bangalore and their PaymentTier
df_nunique = {var: pd.DataFrame(df_B_Bangalore[var].value_counts()) 
              for var in {'Education', 'PaymentTier', 'City'}}
multi_table([df_nunique['Education'], df_nunique['PaymentTier'],df_nunique['City']])

In [ ]:
# Query 6: Find Employee Details with Bachelors Degree from New Delhi and their PaymentTier
df_nunique = {var: pd.DataFrame(df_B_NewDelhi[var].value_counts()) 
              for var in {'Education', 'PaymentTier', 'City'}}
multi_table([df_nunique['Education'], df_nunique['PaymentTier'],df_nunique['City']])

In [ ]:
# Query 7: Find Employee Details with Bachelors Degree from pune and their PaymentTier
df_nunique = {var: pd.DataFrame(df_B_Pune[var].value_counts()) 
              for var in {'Education', 'PaymentTier', 'City'}}
multi_table([df_nunique['Education'], df_nunique['PaymentTier'],df_nunique['City']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "City",
             color="Gender", title="<b>Analysis of City with Gender</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')

fig.show()

In [ ]:
# Query 8: Find Employee Details with Bachelors Degree from bangalore and their gender details
df_nunique = {var: pd.DataFrame(df_B_Bangalore[var].value_counts()) 
              for var in {'Education', 'Gender', 'City'}}
multi_table([df_nunique['Education'], df_nunique['Gender'],df_nunique['City']])

In [ ]:
# Query 9: Find Employee Details with Bachelors Degree from Newdelhi and their gender details
df_nunique = {var: pd.DataFrame(df_B_NewDelhi[var].value_counts()) 
              for var in {'Education', 'Gender', 'City'}}
multi_table([df_nunique['Education'], df_nunique['Gender'],df_nunique['City']])

In [ ]:
# Query 10: Find Employee Details with Bachelors Degree from pune and their gender details
df_nunique = {var: pd.DataFrame(df_B_Pune[var].value_counts()) 
              for var in {'Education', 'Gender', 'City'}}
multi_table([df_nunique['Education'], df_nunique['Gender'],df_nunique['City']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "City",
             color="EverBenched", title="<b>Analysis of City with EverBenched</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')

fig.show()

In [ ]:
# Query 11: Find Employee Details with Bachelors Degree from bangalore and their EverBenched details
df_nunique = {var: pd.DataFrame(df_B_Bangalore[var].value_counts()) 
              for var in {'Education', 'EverBenched', 'City'}}
multi_table([df_nunique['Education'], df_nunique['EverBenched'],df_nunique['City']])

In [ ]:
# Query 12: Find Employee Details with Bachelors Degree from New Delhi and their EverBenched details
df_nunique = {var: pd.DataFrame(df_B_NewDelhi[var].value_counts()) 
              for var in {'Education', 'EverBenched', 'City'}}
multi_table([df_nunique['Education'], df_nunique['EverBenched'],df_nunique['City']])

In [ ]:
# Query 13: Find Employee Details with Bachelors Degree from pune and their EverBenched details
df_nunique = {var: pd.DataFrame(df_B_Pune[var].value_counts()) 
              for var in {'Education', 'EverBenched', 'City'}}
multi_table([df_nunique['Education'], df_nunique['EverBenched'],df_nunique['City']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "City",
             color="ExperienceInCurrentDomain", title="<b>Analysis of City with ExperienceInCurrentDomain</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')

fig.show()

In [ ]:
# Query 14: Find Employee Details with Bachelors Degree from bangalore and their Experience in current domain details
df_nunique = {var: pd.DataFrame(df_B_Bangalore[var].value_counts()) 
              for var in {'Education', 'ExperienceInCurrentDomain', 'City'}}
multi_table([df_nunique['Education'], df_nunique['ExperienceInCurrentDomain'],df_nunique['City']])

In [ ]:
# Query 15: Find Employee Details with Bachelors Degree from New Delhi and their Experience in current domain details
df_nunique = {var: pd.DataFrame(df_B_NewDelhi[var].value_counts()) 
              for var in {'Education', 'ExperienceInCurrentDomain', 'City'}}
multi_table([df_nunique['Education'], df_nunique['ExperienceInCurrentDomain'],df_nunique['City']])

In [ ]:
# Query 16: Find Employee Details with Bachelors Degree from pune and their Experience in current domain details
df_nunique = {var: pd.DataFrame(df_B_Pune[var].value_counts()) 
              for var in {'Education', 'ExperienceInCurrentDomain', 'City'}}
multi_table([df_nunique['Education'], df_nunique['ExperienceInCurrentDomain'],df_nunique['City']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "City",
             color="LeaveOrNot", title="<b>Analysis of City with LeaveOrNot</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')

fig.show()

In [ ]:
# Query 17: Find Employee Details with Bachelors Degree from bangalore and their LeaveorNot details
df_nunique = {var: pd.DataFrame(df_B_Bangalore[var].value_counts()) 
              for var in {'Education', 'LeaveOrNot', 'City'}}
multi_table([df_nunique['Education'], df_nunique['LeaveOrNot'],df_nunique['City']])

In [ ]:
# Query 18: Find Employee Details with Bachelors Degree from NewDelhi and their LeaveorNot details
df_nunique = {var: pd.DataFrame(df_B_NewDelhi[var].value_counts()) 
              for var in {'Education', 'LeaveOrNot', 'City'}}
multi_table([df_nunique['Education'], df_nunique['LeaveOrNot'],df_nunique['City']])

In [ ]:
# Query 19: Find Employee Details with Bachelors Degree from NewDelhi and their LeaveorNot details
df_nunique = {var: pd.DataFrame(df_B_Pune[var].value_counts()) 
              for var in {'Education', 'LeaveOrNot', 'City'}}
multi_table([df_nunique['Education'], df_nunique['LeaveOrNot'],df_nunique['City']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "JoiningYear",
             color="PaymentTier", title="<b>Analysis of JoiningYear with PayementTier</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
# Query 20: Find Employee Details with Bachelors Degree from their joining year and PaymentTier
df_nunique = {var: pd.DataFrame(df_B[var].value_counts()) 
              for var in {'Education', 'PaymentTier', 'JoiningYear'}}
multi_table([df_nunique['Education'], df_nunique['PaymentTier'],df_nunique['JoiningYear']])

In [ ]:
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'JoiningYear']).size()) 
              for var in {'Education', 'PaymentTier'}}
multi_table([df_groupby['Education'], df_groupby['PaymentTier']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "JoiningYear",
             color="City", title="<b>Analysis of JoiningYear with City</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
# Query 21: Find Employee Details with Bachelors Degree from their joining year and city
df_nunique = {var: pd.DataFrame(df_B[var].value_counts()) 
              for var in {'Education', 'City', 'JoiningYear'}}
multi_table([df_nunique['Education'], df_nunique['City'],df_nunique['JoiningYear']])

In [ ]:
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'JoiningYear']).size()) 
              for var in {'Education', 'City'}}
multi_table([df_groupby['Education'], df_groupby['City']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "JoiningYear",
             color="Gender", title="<b>Analysis of JoiningYear with Gender</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
# Query 22: Find Employee Details with Bachelors Degree from their joining year and Gender
df_nunique = {var: pd.DataFrame(df_B[var].value_counts()) 
              for var in {'Education', 'Gender', 'JoiningYear'}}
multi_table([df_nunique['Education'], df_nunique['Gender'],df_nunique['JoiningYear']])

In [ ]:
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'JoiningYear']).size()) 
              for var in {'Education', 'Gender'}}
multi_table([df_groupby['Education'], df_groupby['Gender']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "JoiningYear",
             color="EverBenched", title="<b>Analysis of JoiningYear with EverBenched</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
# Query 23: Find Employee Details with Bachelors Degree from their joining year and Ever Benched
df_nunique = {var: pd.DataFrame(df_B[var].value_counts()) 
              for var in {'Education', 'EverBenched', 'JoiningYear'}}
multi_table([df_nunique['Education'], df_nunique['EverBenched'],df_nunique['JoiningYear']])

In [ ]:
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'JoiningYear']).size()) 
              for var in {'Education', 'EverBenched'}}
multi_table([df_groupby['Education'], df_groupby['EverBenched']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "JoiningYear",
             color="LeaveOrNot", title="<b>Analysis of JoiningYear with LeaveOrNot</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
# Query 24: Find Employee Details with Bachelors Degree from their joining year and LeaveOrNot
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'JoiningYear']).size()) 
              for var in {'Education', 'LeaveOrNot'}}
multi_table([df_groupby['Education'], df_groupby['LeaveOrNot']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "PaymentTier",
             color="Gender", title="<b>Analysis of PaymentTier with Gender</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
# Query 25: Find Employee Details with Bachelors Degree from their PaymentTier year and Gender
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'PaymentTier']).size()) 
              for var in {'Education', 'Gender'}}
multi_table([df_groupby['Education'], df_groupby['Gender']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "PaymentTier",
             color="EverBenched", title="<b>Analysis of PaymentTier with EverBenched</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
# Query 26: Find Employee Details with Bachelors Degree from their PaymentTier year and EverBenched
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'PaymentTier']).size()) 
              for var in {'Education', 'EverBenched'}}
multi_table([df_groupby['Education'], df_groupby['EverBenched']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "PaymentTier",
             color="ExperienceInCurrentDomain", title="<b>Analysis of PaymentTier with ExperienceInCurrentDomain</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
# Query 27: Find Employee Details with Bachelors Degree from their PaymentTier year and Experience in current domain
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'PaymentTier']).size()) 
              for var in {'Education', 'ExperienceInCurrentDomain'}}
multi_table([df_groupby['Education'], df_groupby['ExperienceInCurrentDomain']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "PaymentTier",
             color="LeaveOrNot", title="<b>Analysis of PaymentTier with LeaveOrNot</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
# Query 28: Find Employee Details with Bachelors Degree from their PaymentTier year and leaveor not
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'PaymentTier']).size()) 
              for var in {'Education', 'LeaveOrNot'}}
multi_table([df_groupby['Education'], df_groupby['LeaveOrNot']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "Gender",
             color="EverBenched", title="<b>Analysis of Gender with EverBenched</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
# Query 29: Find Employee Details with Bachelors Degree from their gender and EverBenched
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'Gender']).size()) 
              for var in {'Education', 'EverBenched'}}
multi_table([df_groupby['Education'], df_groupby['EverBenched']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "Gender",
             color="ExperienceInCurrentDomain", title="<b>Analysis of Gender with ExperienceInCurrentDomain</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
# Query 30: Find Employee Details with Bachelors Degree from their gender and ExperienceInCurrentDomain
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'Gender']).size()) 
              for var in {'Education', 'ExperienceInCurrentDomain'}}
multi_table([df_groupby['Education'], df_groupby['ExperienceInCurrentDomain']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "Gender",
             color="LeaveOrNot", title="<b>Analysis of Gender with LeaveOrNot</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
# Query 31: Find Employee Details with Bachelors Degree from their gender and leaveornot
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'Gender']).size()) 
              for var in {'Education', 'LeaveOrNot'}}
multi_table([df_groupby['Education'], df_groupby['LeaveOrNot']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "EverBenched",
             color="LeaveOrNot", title="<b>Analysis of EverBenched with LeaveOrNot</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
# Query 32: Find Employee Details with Bachelors Degree from their EverBenched and leaveornot
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'EverBenched']).size()) 
              for var in {'Education', 'LeaveOrNot'}}
multi_table([df_groupby['Education'], df_groupby['LeaveOrNot']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "EverBenched",
             color="ExperienceInCurrentDomain", title="<b>Analysis of EverBenched with ExperienceInCurrentDomaint</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
# Query 33: Find Employee Details with Bachelors Degree from their EverBenched and ExperienceInCurrentDomain
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'EverBenched']).size()) 
              for var in {'Education', 'ExperienceInCurrentDomain'}}
multi_table([df_groupby['Education'], df_groupby['ExperienceInCurrentDomain']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "ExperienceInCurrentDomain",
             color="LeaveOrNot", title="<b>Analysis of ExperienceInCurrentDomaint with LeaveOrNot</b>",
             #pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

fig.show()

In [ ]:
#Query 34: Find Employee Details with Bachelors Degree from their ExperienceInCurrentDomain and leaveornot
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'ExperienceInCurrentDomain']).size()) 
              for var in {'Education', 'LeaveOrNot'}}
multi_table([df_groupby['Education'], df_groupby['LeaveOrNot']])

In [ ]:
# Query 35: What is the average age of Employees from bachelors degree
df_B['Age'].mean()

In [ ]:
# Analysis of bachelors degree Employees With Age
fig = px.histogram(data_frame = df_B,
             x = "Age",
             color="LeaveOrNot", title="<b>Analysis of Age with LeaveOrNot</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
# Query 36: Bachelors degree Employees of what age are likely to leave most
df_groupby = {var: pd.DataFrame(df_B.groupby([var, 'Age']).size()) 
              for var in {'Education', 'LeaveOrNot'}}
multi_table([df_groupby['Education'], df_groupby['LeaveOrNot']])

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "Age",
             color="JoiningYear", title="<b>Analysis of Age with JoiningYear</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "Age",
             color="City", title="<b>Analysis of Age with City</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "Age",
             color="PaymentTier", title="<b>Analysis of Age with PaymentTier</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "Age",
             color="Gender", title="<b>Analysis of Age with Gender</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "Age",
             color="EverBenched", title="<b>Analysis of Age with EverBenched</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df_B,
             x = "Age",
             color="ExperienceInCurrentDomain", title="<b>Analysis of Age with ExperienceInCurrentDomain</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
# Analysis of bachelors degree Employees completed
# work in progress
# Analysis of whole dataframe
fig = px.histogram(data_frame = df,
             x = "Education",
             color="LeaveOrNot", title="<b>Analysis of Education with LeaveOrNot</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "Education",
             color="City", title="<b>Analysis of Education with City</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "Education",
             color="Gender", title="<b>Analysis of Education with Gender</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "Education",
             color="PaymentTier", title="<b>Analysis of Education with PaymentTier</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "Education",
             color="EverBenched", title="<b>Analysis of Education with EverBenched</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "Education",
             color="ExperienceInCurrentDomain", title="<b>Analysis of Education with ExperienceInCurrentDomain</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "Education",
             color="JoiningYear", title="<b>Analysis of Education with JoiningYear</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "City",
             color="JoiningYear", title="<b>Analysis of City JoiningYear with City</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "City",
             color="PaymentTier", title="<b>Analysis of City JoiningYear with PaymentTier</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "City",
             color="EverBenched", title="<b>Analysis of City JoiningYear with EverBenched</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "City",
             color="ExperienceInCurrentDomain", title="<b>Analysis of City JoiningYear with ExperienceInCurrentDomain</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "City",
             color="LeaveOrNot", title="<b>Analysis of City JoiningYear with LeaveOrNot</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "Gender",
             color="EverBenched", title="<b>Analysis of Gender JoiningYear with EverBenched</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "Gender",
             color="ExperienceInCurrentDomain", title="<b>Analysis of Gender JoiningYear with ExperienceInCurrentDomain</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "Gender",
             color="LeaveOrNot", title="<b>Analysis of Gender JoiningYear with LeaveOrNot</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "EverBenched",
             color="ExperienceInCurrentDomain", title="<b>Analysis of EverBenched JoiningYear with ExperienceInCurrentDomain</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
fig = px.histogram(data_frame = df,
             x = "EverBenched",
             color="LeaveOrNot", title="<b>Analysis of EverBenched JoiningYear with LeaveOrNot</b>",
             pattern_shape_sequence=['x'],
             template='plotly_dark')
fig.update_layout(bargap=0.2)

In [ ]:
df[df['Education'] == 'Masters']['Age'].mean()

In [ ]:
df[df['Education'] == 'PHD']['Age'].mean()

In [ ]:
df_M = df[df['Education'] == 'Masters']
df_M

In [ ]:
df_nunique = {var: pd.DataFrame(df_M[var].value_counts()) 
              for var in {'Education', 'JoiningYear', 'City', 'PaymentTier', 'Gender',
       'EverBenched', 'ExperienceInCurrentDomain', 'LeaveOrNot'}}
multi_table([df_nunique['Education'], df_nunique['JoiningYear'],df_nunique['City']
            ,df_nunique['PaymentTier'],df_nunique['Gender'],df_nunique['EverBenched'],
             df_nunique['ExperienceInCurrentDomain'],df_nunique['LeaveOrNot']])

In [ ]:
df_groupby = {var: pd.DataFrame(df_M.groupby([var, 'Age']).size()) 
              for var in {'Education', 'JoiningYear', 'City', 'PaymentTier', 'Gender',
       'EverBenched', 'ExperienceInCurrentDomain', 'LeaveOrNot'}}
multi_table([df_groupby['Education'], df_groupby['JoiningYear'],df_groupby['City']
            ,df_groupby['PaymentTier'],df_groupby['Gender'],df_groupby['EverBenched'],
             df_groupby['ExperienceInCurrentDomain'],df_groupby['LeaveOrNot']])

In [ ]:
df_P = df[df['Education'] == 'PHD']
df_P

In [ ]:
df_nunique = {var: pd.DataFrame(df_P[var].value_counts()) 
              for var in {'Education', 'JoiningYear', 'City', 'PaymentTier', 'Gender',
       'EverBenched', 'ExperienceInCurrentDomain', 'LeaveOrNot'}}
multi_table([df_nunique['Education'], df_nunique['JoiningYear'],df_nunique['City']
            ,df_nunique['PaymentTier'],df_nunique['Gender'],df_nunique['EverBenched'],
             df_nunique['ExperienceInCurrentDomain'],df_nunique['LeaveOrNot']])

In [ ]:
df_groupby = {var: pd.DataFrame(df_P.groupby([var, 'Age']).size()) 
              for var in {'Education', 'JoiningYear', 'City', 'PaymentTier', 'Gender',
       'EverBenched', 'ExperienceInCurrentDomain', 'LeaveOrNot'}}
multi_table([df_groupby['Education'], df_groupby['JoiningYear'],df_groupby['City']
            ,df_groupby['PaymentTier'],df_groupby['Gender'],df_groupby['EverBenched'],
             df_groupby['ExperienceInCurrentDomain'],df_groupby['LeaveOrNot']])

In [ ]:
obj = ['Education', 'City', 'PaymentTier', 'Gender','EverBenched', 'ExperienceInCurrentDomain', 'LeaveOrNot','JoiningYear']
num = ['Age']

In [ ]:
for i in range(len(obj)):
    plt.figure(figsize=(11,7))
    sns.barplot(x=obj[i],y="Age", data=df)
    plt.show()

In [ ]:
# Here my target variable is math percentage
def categorial_feature_overview(feature, rotation=0):
    print(feature, 'has', df[feature].isnull().sum() / len(df) * 100, '% of null values')
    f,ax = plt.subplots(1, 2, figsize=(20, 6))
    ax[0].tick_params(labelrotation=rotation)
    ax[1].tick_params(labelrotation=rotation)
    sns.countplot(data=df, x=feature, ax=ax[0]);
    sns.boxplot(data=df, x=feature, y='Age', ax=ax[1])
    plt.show()
    
def numerical_feature_overview(feature, rotation=0):
    print(feature, 'has', df[feature].isnull().sum() / len(df) * 100, '% of null values')
    f,ax = plt.subplots(1, 2, figsize=(20, 6))
    ax[0].tick_params(labelrotation=rotation)
    ax[1].tick_params(labelrotation=rotation)
    sns.scatterplot(data=df, x=feature, y='Age', ax=ax[0]);
    sns.boxplot(data=df, x=feature, ax=ax[1])
    plt.show()

In [ ]:
categorial_feature_overview('JoiningYear')

In [ ]:
categorial_feature_overview('City')

In [ ]:
categorial_feature_overview('PaymentTier')

In [ ]:
categorial_feature_overview('Gender')

In [ ]:
categorial_feature_overview('EverBenched')

In [ ]:
categorial_feature_overview('ExperienceInCurrentDomain')

In [ ]:
categorial_feature_overview('LeaveOrNot')

In [ ]:
numerical_feature_overview('Age')

In [ ]:
def count_outliers(data,col):
        q1 = data[col].quantile(0.25,interpolation='nearest')
        q2 = data[col].quantile(0.5,interpolation='nearest')
        q3 = data[col].quantile(0.75,interpolation='nearest')
        q4 = data[col].quantile(1,interpolation='nearest')
        IQR = q3 -q1
        global LLP
        global ULP
        LLP = q1 - 1.5*IQR
        ULP = q3 + 1.5*IQR
        if data[col].min() > LLP and data[col].max() < ULP:
            print("No outliers in",i)
        else:
            print("There are outliers in",i)
            x = data[data[col]<LLP][col].size
            y = data[data[col]>ULP][col].size
            a.append(i)
            print('Count of outliers are:',x+y)
global a
a = []
x = df.drop(obj,axis = 1)
for i in x.columns:
    count_outliers(x,i)

In [ ]:
Num_vars = ['Age']

In [ ]:
Cat_vars = df.drop(Num_vars, axis = 1).columns.tolist()
Cat_vars

In [ ]:
Cat_vars_low = list(df[Cat_vars].loc[:, (df[Cat_vars].nunique() < 10)].nunique().index)
Cat_vars_high = list(df[Cat_vars].loc[:, (df[Cat_vars].nunique() >= 10)].nunique().index)

In [ ]:
sns.set_theme(rc = {'grid.linewidth': 0.5,
                    'axes.linewidth': 0.75, 'axes.facecolor': '#fff3e9', 'axes.labelcolor': '#6b1000',
                    'figure.facecolor': '#f7e7da'})
                    #'xtick.labelcolor': '#6b1000', 'ytick.labelcolor': '#6b1000'